

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: police;
  src: url(./assets/font/MonumentExtended-Regular.otf);
}
@font-face {
  font-family: Jungle;
  src: url(./assets/font/BlackAnimal.otf);
}

* {
  user-select: none;
  padding: 0;
  margin: 0;
  font-family: police;  
  background-color: unset;
}
.webgl{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;

}
body{

  // overflow:hidden!important;
}

.home{
  background:#dddacf;
}
.CenterContainer{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TextLeft{
  text-align: left;
}
.active{
  transform: scale(2);
}
.TextRight{
  text-align: right;
}
a {
  text-decoration: none; /* no underline */
}
ul{
  list-style-type: none;
}
.AniForm { // style for the form
  width: 400px;
  .inputFields{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="checkbox"] {
      position: absolute;
     opacity: 0;
   
    }
    input[type="checkbox"] + label {
      font-size: 14px;
      padding: 16px 30px 16px 30px;
      border-radius: 5px;
      cursor: pointer;
      margin: 5px;
      width: 100%;
      color: #fff;
      background-color: #6c757d;
      border: 1px solid transparent;
      transition: all 0.15s ease-in-out;
      width: 100%;
    }

    input[type="checkbox"]:checked + label {
      background-color: #28a745;
      border-color: #28a745;
    }
    
  }
  
  input,select {
    font-size: 14px;
    padding: 16px 30px 16px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 100%;
    @media (max-width: 768px) {
      padding: 10px 30px 10px 30px;
      }
  }

}


// .slide{
//   pointer-events: all;
//   transform: scale(0.8);
//   transition: all 1000ms ease-in-out;
//   opacity:0.5;
//   outline: none;

// }
.ButtonSlide{
  transition: all 1000ms ease-in-out;
  opacity: 0;
}

.slick-list, .slick-track { touch-action:none; }
.slick-active.slick-current .slide{
  transform: scale(1.02);
  opacity:1
}
.slick-active.slick-current .slide .ButtonSlide{
  opacity:1
}